<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="NFCACT_Test_Suite">
    <test name="搜索测试">
        <classes>
            <class name="com.ontime.testscripts.SearchTest">
                <methods>
                    <include name="testCase1"/>
                    <exclude name="testCase2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>